<p>Enter names of all workers with a comma inbetween, eg. ricky,cian,lloyd</p>
<form action="/calculator" method="post">
    <input type="text" name="names" placeholder="eg. ricky,cian,lloyd">
    <input type="submit" value="Submit" data-theme="b">
</form>
